.container{
    width: 607px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    overflow: hidden;
    background-image: linear-gradient(180deg, #2c3e50 0%, #354b5e 20%, #3c5772 40%, #4d6e88 60%, #5d849d 80%, #6d9bb2 100%);
    height: 100vh; 
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14;
    padding-top: 60px;
}

.top-bar input{
    display: flex;
    width: 326px;
    height: 78px;
    background: #94d1ee;
    border : none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #94d1ee; 
    border-radius: 40px;
    cursor: pointer;
    
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items:flex-start;
    gap: 12px;

}

.data{
    font-size: 34px;
    font-weight: 400;
}

.text{
    font-size: 20px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;
}

/* WeatherApp.css */

.link {
    text-align: center;
    margin-top: 20px;
  }
  
  .link p {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555; /* Adjust the color as needed */
  }
  
  .link a {
    text-decoration: none;
    color: #007bff; /* Adjust the color as needed */
    font-weight: bold;
  }
  
  .link a:hover {
    text-decoration: underline;
  }

  .link p{
    color: antiquewhite;
    font-size: 14px;
     font-weight: 400px;
}  

.weather-location,
.humidity-percent,
.wind-rate,
.link p {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}